.title {
    display: flex;
    justify-content: center;
}

button {
    margin-top: 10px;
    width: 100%;
}

#todayforecast {
    margin-top: 10px;
    border: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 1px;
}